dontaudit untrusted_app_25 hal_memtrack_default:binder { call };
dontaudit untrusted_app_25 proc:file { read open getattr };
dontaudit untrusted_app_25 proc_stat:file { read open getattr };
